body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* NAVBAR */
.navbar-custom {
    background-color: #20a2b9;
}

.navbar-custom .nav-link {
    color: rgb(248, 242, 237);
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #ff914d; 
}

/* CARROSSEL */
.carousel img {
    height: 400px;
    object-fit: contain;
    border-radius: 20px;
}

/* TÍTULOS */
h2 {
    color: #20a2b9;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

/* FOOTER */
.footer-custom {
    background-color: #20a2b9;
    color: white;
}